<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Add Task</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>Title</td>
        <td colspan="1"><input placeholder="Enter title" ng-model="title"></td>
        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td><input placeholder="Enter description" ng-model="description"></td>
    </tr>
    <tr>
        <td>Number</td>
        <td><input placeholder="Enter number" ng-model="no"></td>
    </tr>
    <tr>
        <td>Department Number</td>
        <td><input placeholder="Enter department number" ng-model="deptNo"></td>
    </tr>
    <tr>
        <td>Status</td>
        <td><input placeholder="Enter status" ng-model="status"></td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td><input placeholder="Enter start date" ng-model="creatioDate"></td>
    </tr>
    <tr>
        <td>Finish Date</td>
        <td><input placeholder="Enter finish date" ng-model="finishedDate"></td>
    </tr>
    <tr>
        <td><button class="btn btn-info" value="Add" ng-click="addTask()">Add Task</button></td>
    </tr>
    </tbody>
</table>